@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

.sidebar{
    font-family: 'Inter', sans-serif;
    padding: 1.5rem 1rem;
    width: 250px;
    position: relative;
    height: 100vh;
}


.nav-sidebar{
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: fixed;
    top: 2.3rem;
}

.nav-sidebar li{
    display: flex;
    align-items: center;
    gap: 20px;
}
.nav-sidebar button{
    padding: .7rem 80px;
}

.trends{
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 2.2rem;
}
.trendsDivSearch{
    display: flex;
    gap: 20px;
    height: 35px;
    width: 100%;
    background-color: rgb(76, 76, 78);
    align-items: center;
    padding: 10px;
    border-radius: 50px;
    overflow: hidden;
    font-size: 20px;
}

.trendsDivSearch input{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    resize: none;
}

.trendsforyou{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(76, 76, 78);
    padding: 10px;
    border-radius: 10px;
}
.trendsforyou div{
    display: flex;
    justify-content: space-between;
}

.trend-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.trend-div div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.trend-div p{
    color: gray;
}

.showMore{
    color: #1D9BF0;
}

.trendsforyou-avatar{
    width: 40px;
    height: 40px;
}

.trendsforyou-text{
    display: flex;
    flex-direction: column;
    
}
.trendsforyou-text div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.trendsforyou-content{
    gap: 10px;
}
.trendsforyou-content p{
    color: gray;
    font-size: 9px;
}
.trendsforyou-content h4{
    font-size: 9px;
}

.trendsforyou button{
    border-radius: 20px;
    padding: 10px;
}

.footer{
    color: gray;
}

.tweet-action:nth-child(1):hover img{
    background-color: blue;
}

.tweet-action {
cursor: pointer;
}
.tweet-action img{
    padding: 10px;
    border-radius: 10px;
}
.tweet-action:nth-child(1):hover span{
    color: blue;
}
.tweet-action:nth-child(2):hover img{
    background-color: green;
}

.tweet-action:nth-child(2):hover span{
    color: green;
}
.tweet-action:nth-child(3):hover img{
    background-color: red;
}

.tweet-action:nth-child(3):hover span{
    color: red;
}
.tweet-action:nth-child(4):hover img{
    background-color: blueviolet;
}

/*username*/
.username-entete{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
}
.username-span{
    color: gray;
    font-size: 14px;
}
.user-content{
    height: 30%;
    position: relative;
    width: 100%;
}
.banner{
    width: 100%;
    height: 100%;
}
.user-avatar{
    position: absolute;
    bottom: -40px;
    padding-left: 10px;
    display: flex;
}
.user-profil{
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: -35px;
    right: -630px;
}
.user-profil p{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    border-radius: 100%;
    padding-top: 5px;
}
.user-text{
    margin-top: 70px;
    padding: 20px;
}
.user-description{
    padding: 0 20px;
    text-align: justify;
}
.username-link{
    color: #1D9BF0;
}
.user-link-content{
    padding: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}
.user-link-content div{
    display: flex;
    gap: 5px;
    align-items: center;
}
.user-abonne{
    padding: 0 20px;
    display: flex;
    gap: 30px;
}
.user-avatar{
    width: 150px;
    border-radius: 50%;
}
.user-suivi{
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.link-white{
    color: white;
}
.user-ul{
    padding: 15px 30px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}
.user-ul li{
    cursor: pointer;
}

/************/

/*currentuser*/
.profil {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 10px;
    align-items: center;
}
.profil span {
    color: gray;
}
.profil img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.profilDiv{
    display: flex;
    align-items: center;
    gap: 10px;
}
.link-menu{
    display: flex;
    align-items: center;
    gap: 15px;
}

.profilLink{
    text-decoration: none;
    color: white;
}
/************/